OPENAI_API_KEY=
CDP_API_key_NAME=
CDP_key_PRIVATE_KEY=
TWITTER_API_KEY=KFqrFy55JkGHEhRCSWFJu1lxZ
TWITTER_API_SECRET_KEY=WfV6FvJSM1Rc2jbfdfFunXmEExr8EyuhXR2Tvvzi9M6twQyhxu
TWITTER_ACCESS_TOKEN=1887600518265999360-a7mz6U1Hln8VnDqeLouuMR8W1VX1t2
TWITTER_ACCESS_TOKEN_SECRET=AAmS9Q1oSKx2BeNVcNywTDh3fvNJA3zznPiDSQPIvthLH
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAADw8ywEAAAAAeVHEgKsnLKS%2Bvw0MrXOsQ0xWhr0%3Dd08dcGRN5261m371COVkgUCcKo5XOdXT2oNPz19eIldwzWRi7K
TELEGRAM_BOT_TOKEN=7646515940:AAGySPCXT_mr4x925R6qkiRBoNcyVlKRmKk
TELEGRAM_CHAT_ID="-1002385561827"
TELEGRAM_THREAD_ID="688"
